*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    border-bottom: 1px solid white;
}


input{
    border: none;
    border-radius: 8px;
}

body{
    display: flex;
}

